.App {/* 
  text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hcolor {
  background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 font-family: 'Akronim'; 
/* font-family: 'Bangers' ;
 */}

.landing-grid {
  font-family: 'Bangers' ;/* 
  font-family: 'Yeon Sung'; */
  font-size: 36px;
  text-align: center;
  background: #03001e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1900%;
}

.landing-grid h1{/* 
  color: #3eeedf; */
  color: whitesmoke
}


.mainpic {

  border-radius: 20px;
  height: 60%;
  width: 80%;
  
  padding-top: 5em;
}

.gamesel {
  padding-top: 50%;
  
  font-family: 'ZCOOL QingKe HuangYou' ;

}

.btn {
  background-color: crimson
}